* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header,
footer {
    padding: 8px;
    background-color: rgb(76, 76, 167);
    background-color: rebeccapurple;
}

header {
    display: flex;
    gap: 10px;
    align-items: center;
}

h1 {
    margin-right: auto;
}

h1 a {
    color: white;
    text-decoration: none;
}

.profile {
    height: 2.5rem;
    width: auto;
}

h3 {
    color: white;
}

.log-out {
    height: 1.8rem;
    width: auto;
}

main {
    flex: 1;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

h2 {
    text-align: center;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 50px;
}

.post-container-preview {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
}

.publish {
    background-color: lavenderblush;
}

.unpublish {
    background-color: lavender;
}

.post-info-preview {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
}

h4 {
    font-size: 1.15rem;
}

.post-controls-preview {
    display: flex;
    gap: 15px;
    align-items: center;
}

.post-controls-preview button,
.edit-button,
.delete-comment-button,
.add-button {
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 1rem;
}

.publish button,
.edit-button.unpublished {
    background-color: rgb(252, 211, 225);
}

.publish button:hover,
.edit-button.unpublished:hover {
    background-color: rgb(252, 196, 213);
}

.unpublish button,
.edit-button.published,
.add-button {
    background-color: rgb(204, 204, 253);
}

.unpublish button:hover,
.edit-button.published:hover,
.add-button:hover {
    background-color: rgb(192, 192, 252);
}

.add-button {
    align-self: center;
    padding: 3px 15px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.post-controls-preview .delete-button {
    padding: 2px 6px;
}

.edit {
    height: 1.5rem;
    width: auto;
}

.delete {
    height: 1.4rem;
    width: auto;
}

footer p {
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

@media (max-width: 750px) {
    .posts-container {
        padding: 10px 15px;
    }

    .post-container-preview {
        gap: 10px;
    }

    .post-controls-preview {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .posts-container {
        padding: 10px 5px;
    }

    .post-container-preview {
        flex-direction: column;
        gap: 3px;
    }
}