.post-container {
    /* background-color: lavender; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.post-date,
.post-status {
    align-self: flex-end;
    font-style: italic;
}

.edit-button {
    align-self: center;
    padding: 3px 15px;
    text-decoration: none;
    color: black;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.comment {
    gap: 10px;
    background-color: honeydew;
    margin-bottom: 15px;
    padding: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.delete-comment-button {
    background-color: rgb(199, 255, 199);
    align-self: center;
}

.delete-comment-button:hover {
    background-color: rgb(176, 255, 176);
}

h5 {
    font-size: 1.15rem;
}

.comment-date {
    font-style: italic;
}

@media (min-width: 350px) {
    main {
        padding: 20px;
    }
}